@model LiteCommerce.Admin.Models.EmployeePaginationResult
@{
    ViewBag.Title = "Employee";
}

<div class="box box-info">
    <div class="box-body">
        <form action="~/Employee" method="get">
            <div class="input-group input-group-sm">
                <input name="searchValue" type="text" class="form-control" placeholder="Input search values...." value="@Model.searchValue">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid row" style="margin-bottom:10px">
    <div class="col-sm-8">
        There are <b>@Model.RowCount</b> Supplier found. Page @Model.Page/ @Model.PageSize.
    </div>
    <div class="col-md-4 text-right">

        <div class="btn-group">
            <a href="~/Employee/Input" class="btn btn-sm btn-success">Add Employee</a>
            <button type="button" class="btn btn-sm btn-danger">Delete Employee</button>
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="sw-30">
                        <input type="checkbox" />
                    </th>
                    <th class="sw-50">#</th>
                    <th class="sw-300">Name</th>
                    <th class="sw-200">Address</th>
                    <th class="sw-300">Contact Info</th>
                    <th class="sw-auto">Notes</th>
                    <th class="sw-100">Picture</th>
                    <th class="sw-100"></th>
                </tr>
            </thead>

            <tbody class="text-align">
                @foreach (var item in Model.Data)
                {

                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            @item.EmployeeID
                        </td>
                        <td>
                            <span class="text-primary cnp-name">@item.LastName @item.FirstName</span>
                            <br />Title: @item.Title
                        </td>
                        <td>
                            @item.Address<br />
                            <span class="adr-cnt">@item.City - @item.Country</span>
                        </td>
                        <td>
                            <span class="std-block"><i class="fa fa-phone"></i>@item.HomePhone</span>
                            <span class="std-block"><i class="fa fa-at"></i>@item.Email</span>
                            <span class="std-block"><i class="fa fa-birthday-cake"></i>@item.BirthDate.Day/@item.BirthDate.Month/@item.BirthDate.Year</span>
                            <span class="std-block"><i class="fa fa-users"></i>@item.HireDate.Day/@item.HireDate.Month/@item.HireDate.Year</span>
                        </td>
                        <td>
                            @item.Notes
                        </td>
                        <td>
                            <img style="width:100px; height:100px;" src="~/Images/@item.PhotoPath" />
                        </td>
                        <td class="text-center">
                            <!-- Button trigger modal -->
                            <a href="~/Employee/Input/@item.EmployeeID" class="btn btn-primary center-block">
                                <i class="fa fa-info"></i>
                            </a>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                @for (int page = 1; page <= Model.PageCount; page++)
                {
                    <li><a href="~/Employee/Index?page=@page&searchValue=@Model.searchValue">@page</a></li>
                }
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>