@model LiteCommerce.Admin.Models.SupplierPaginationResult
@{
    ViewBag.Title = "Manage Supplier";
    

}
<div class="box box-info">
    <div class="box-body">
        <form action="~/Supplier" method="get">
            <div class="input-group input-group-sm">

                <input name="searchValue" type="text" class="form-control" placeholder="Input search values....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid row" style="margin-bottom:10px">
    <div class="col-sm-8">
        There are <b>@Model.RowCount</b> Supplier found. Page @Model.Page/ @Model.PageSize.
    </div>
    <div class="col-md-4 text-right">

        <div class="btn-group">
            <a href="~/Supplier/Input" class="btn btn-sm btn-success">Add Supplier</a>
            <button type="button" class="btn btn-sm btn-danger">Delete Supplier</button>
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="sw-30">
                        <input type="checkbox" />
                    </th>
                    <th class="sw-50">#</th>
                    <th class="sw-auto">Name</th>
                    <th class="sw-auto">Address</th>
                    <th class="sw-200">Contact Info</th>
                    <th class="sw-100"></th>
                </tr>
            </thead>

            <tbody class="text-align">

                @foreach (var item in Model.Data)
                {

                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            @item.SupplierID
                        </td>
                        <td>
                            <span class="text-primary cnp-name">@item.CompanyName</span>
                            <br />@item.ContactTitle: <b>@item.ContactName</b>
                        </td>
                        <td>
                            @item.Address<br />
                            <span class="adr-cnt">@item.Country - @item.City</span>
                        </td>
                        <td>
                            <span class="std-block"><i class="fa fa-phone"></i>@item.Phone</span>
                            <span class="std-block"><i class="fa fa-fax"></i>@item.Fax</span>
                            <span class="std-block"><i class="fa fa-home"></i>@item.HomePage </span>
                        </td>
                        <td class="text-center">
                            <!-- Button trigger modal -->
                            <a href="~/Supplier/Input/@item.SupplierID" class="btn btn-primary center-block">
                                <i class="fa fa-info"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                @for (int page = 1; page <= Model.PageCount; page++)
                {
                    <li><a href="~/Supplier/Index?page=@page">@page</a></li>
                }
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>